@model plataformasGrupo5TPFinal.Models.Reservas

@{
    
    ViewData["Title"] = "Confirmar";
    Layout = "LayoutMain";
}

<h1>Confirmar reserva</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <span class="text-danger align-text-center">@ViewData["mensaje"]</span>
                    <span>
                        @Model.ToString();
                    </span>

        <form asp-action="CrearReserva">
            <div class="form-group">
                <input asp-for="codAlojamiento" class="form-control" hidden value="@Model.codAlojamiento"/>
            </div>
            <div class="form-group">
                <input asp-for="fDesde" type="datetime" class="form-control" hidden value="@Model.fDesde"/>
            </div>
            <div class="form-group">
                <input asp-for="fHasta" type="datetime" class="form-control" hidden value="@Model.fHasta"/>
            </div>
            <div class="form-group">
                <input asp-for="precio" class="form-control" hidden value="@Model.precio"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Reservar" class="btn btn-primary" />
            </div>

        </form>

        <div>
            <a asp-action="Index" class="btn btn-dark">Volver a la lista</a>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
