@model plataformasGrupo5TPFinal.Models.Reservas

@{
    ViewData["Title"] = "Details";
    Layout = "LayoutMain";
}

<h1>Detalle de reserva</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codAlojamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codAlojamiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dniPersona)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dniPersona)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id"><button class="btn btn-primary">Editar</button></a> |
    <a asp-action="Index"><button class="btn btn-dark">Volver a la lista</button></a>
</div>
