@model IEnumerable<plataformasGrupo5TPFinal.Models.Reservas>

    @{
        ViewData["Title"] = "Index";
        Layout = "LayoutMain";
    }

    <h1>Mis reservas</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.fDesde)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fHasta)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.codAlojamiento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dniPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.precio)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.fDesde)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fHasta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.codAlojamiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dniPersona)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.precio)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.id"><button class="btn-info">Detalle</button></a> |
                        <a asp-action="Delete" asp-route-id="@item.id"><button class="btn-danger">Borrar</button></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

