@model plataformasGrupo5TPFinal.Models.Usuario

@{
    ViewData["Title"] = "Details";
    Layout = "LayoutMain";
}

<h1>Detalle de usuario</h1>

<div>

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.esAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.esAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bloqueado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bloqueado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.intentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.intentos)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id"><button class="btn btn-primary">Editar</button></a> |
    <a asp-action="Index"><button class="btn btn-dark">Volver a la lista</button></a>
</div>
