@model IEnumerable<plataformasGrupo5TPFinal.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "LayoutMain";
}

<h1>Lista de usuarios</h1>

<p>
    <a asp-action="Create"><button class="btn btn-secondary">Crear nuevo</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.esAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bloqueado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.intentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.esAdmin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bloqueado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.intentos)
            </td>
            <td>
                
                <a asp-action="Edit" asp-route-id="@item.id"><button class="btn-primary">Editar</button></a> |
                <a asp-action="Details" asp-route-id="@item.id"><button class="btn-info">Detalle</button></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><button class="btn-danger">Borrar</button></a>
            </td>
        </tr>
}
    </tbody>
</table>
