@model plataformasGrupo5TPFinal.Models.Usuario;
@using System.Security.Claims;
@using plataformasGrupo5TPFinal.Helpers;
@using plataformasGrupo5TPFinal.Controllers;
@{
    ViewData["Title"] = "Perfil";
    Layout = "LayoutMain";
}

<h2>Info de mi perfil</h2>

<div>
    <h4 class="text-info">
        @(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.Name).Value)
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Documento
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class="col-sm-2">
            Nombre
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            Mail
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class="col-sm-2">
            Admin
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.esAdmin)
        </dd>
        <dt class="col-sm-2">
            Bloqueado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.bloqueado)
        </dd>
    </dl>
</div>
<hr />
<div class="container">
    <div class="row">
        <div class="mr-2">
            <a class="text-primary" asp-action="EditMyUser" asp-route-id="@(((ClaimsIdentity)User.Identity).FindFirst(ClaimTypes.NameIdentifier).Value)"><button class="btn btn-primary">Editar</button></a>
        </div>
        <div class="mx-2">
            <a class="text-primary" asp-controller="Reservas" asp-action="ReservasUsuario" asp-route-id="@SessionsHelpers.GetValue(User,"dni")"><button class="btn btn-danger">Mis reservas</button></a>
        </div>
        <div class="mx-2">
            <a class="text-primary" asp-controller="Usuarios" asp-action="CambiarPassword"><button class="btn btn-secondary">Cambiar contraseña</button></a>
        </div>
    </div>
</div>